/* SPDX-License-Identifier: MPL-2.0 */

/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.button-popover-help {
  margin-bottom: 12px;
}
.button-popover-content {
  width: 300px;
  max-width: calc(100vw - 32px);
  padding: 18px;
  color: #ebeeed;
}
.button-popover-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-top: 16px;
  font-size: 12px;
}
.button-popover-field > .nf-form-control {
  width: 60px;
  text-align: center;
}
